<html>
<head>
      <link href = "css/bootstrap.min.css" rel = "stylesheet"/>
          <script src="js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="js/prism.js" data-manual></script>

    <title>Maestro</title>
</head>
<body>
<div class="mt-4 container">
<h1 class="mb-4"><span class="text-primary">Maestro</span></h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Health
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="applications">Applications</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="search">Search</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="config">Configuration</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="mt-4 container">
<div class="alert alert-primary" th:if="${applications==null}">Could not connect to agent(s)</div>

<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Server</th>
      <th scope="col">PID</th>
      <th scope="col">Status</th>
      <th scope="col">Controls</th>
    </tr>
  </thead>
  <tbody>
    	<tr th:each="app: ${applications}">
 			

    		<form action="#" th:action="@{/applications}" th:object="${search}" method="post">
				<input type="hidden" name="ip" th:value="${app.getIp}" />
				<th scope="row">
				<div class="text-primary" th:if="${app.getIp==null}">
 			Connection to agent failed<span th:text="${app.getName}"></span>
 			</div>
  			<div th:unless="${app.getIp==null}">
  			<span th:text="${app.getName}"></span>
  			</div>
  			</th>
				<td><span th:text="${app.getServer}"></span></td>
				<td><span th:text="${app.getMainPID}"></span></td>
				<td><span th:class="'badge '+${app.getStatus=='active' ? 'bg-success' : 'bg-primary'}" th:text="${app.getStatus}"></span></td>
				<td><button class="btn btn-success" name="action" th:value="'start:'+${app.getName}">Start</button> 
				<button class="btn btn-primary" name="action" th:value="'stop:'+${app.getName}">Stop</button> 
				<button class="btn btn-dark" name="action" th:value="'kill:'+${app.getName}">Kill</button></td>
			</form>
 			
	 	</tr>
     
  </tbody>
</table>


</div>

</body>
</html>