<html>
<head>
      <link href = "css/bootstrap.min.css" rel = "stylesheet"/>
          <script src="js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="js/prism.js" data-manual></script>

    <title>Maestro</title>
</head>
<body onload="prettyJSON()">
<div class="mt-4 container">
<h1 class="mb-4"><span class="text-primary">Maestro</span></h1>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Health
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="applications">Applications</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="search">Search</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="config">Configuration</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="mt-4 container">


<form action="#" th:action="@{/config}" th:object="${config}" method="post">
    <label for="config">Config file:</label>
    <textarea rows="20" class="form-control mb-4" 
    type="text" th:field="*{config}" id="config" placeholder="config goes here"
     style="white-space: pre"></textarea>
    <input type="submit" value="Save" class="btn btn-success">   
</form>
<button id="pretty" class="btn btn-info">Validate</button>

</div>

</body>
<script>

document.getElementById("pretty").addEventListener("click",function(){
	
});

	function prettyJSON(){
	
try {
	var x = document.getElementById("config").value;
	var m = JSON.parse(x);
	document.getElementById("config").value = JSON.stringify(m, undefined, 4);

	} catch(e){
	alert("Invalid JSON !")
}

	};
   
</script>
</html>